@model IEnumerable<Videoteca.Models.MovieInfo>

@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="~/lib/slick-1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="~/lib/slick-1.8.1/slick/slick-theme.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <meta name="viewport" content="width=device-width" />
</head>
<body>

    @if (ViewBag.Message != null)
    {
        <div class="alert alert-@(ViewBag.Message.Tipo)">
            @ViewBag.Message.Text
        </div>
    }

    <div id="fb-root"></div>
    <script async defer crossorigin="anónimo" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v17.0&appId= 1233834500833890&autoLogAppEvents=1" nonce="bZqdA4Ag"></script>

    @foreach (var item in Model)
    {
        <div class="contenedor">

            <img class="movie2" src="@item.movie.movie_url">
            <div>
                <h1> @item.movie.title</h1>

                <h3> @item.movie.title</h3>
                <br>
                <p>@item.movie.synopsis</p>

                <div class="fb-share-button" data-href="http://www.facebook.com/sharer.php?u= @item.movie.movie_url" data-layout="" data-size="">
                    <a name="fb_share" id="compartir" target="_blank " href="http://www.facebook.com/sharer.php?u= @item.movie.movie_url" class="fb-xfbml -parse-ignorar">
                        <img class="iconFa" src="https://icon-library.com/images/facebook-share-icon-png/facebook-share-icon-png-15.jpg" />
                    </a>

                </div>

            </div>

        </div>

        <table>
            <tr>
                <th>Year</th>
                <td>@item.movie.release_year</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>@item.movie.duration</td>
            </tr>
            <tr>
                <th>Rate</th>
                <td>@item.movie.duration</td>
            </tr>
            <tr>
                <th>Director</th>
                <td>@item.movie.director</td>
            </tr>
            <tr>
                <th>Classification</th>
                <td>@item.movie.classification</td>
            </tr>
            @if (@item.movie.num_episodes != null)
            {
                <tr>
                    <th>Episodes</th>
                    <td>@item.movie.num_episodes</td>
                </tr>
                <tr>
                    <th>Seasons</th>
                    <td>@item.movie.num_seasons</td>
                </tr>
            }
        </table>

        <div class="contenedor">

            <form asp-controller="Admin" asp-action="Delete_MovieAndSerie" method="get">
                <input type="hidden" name="id" value="@item.movie.id" />
                <button id="viewM" class="btn btn-danger align-items-xxl-center" type="submit">
                    Delete
                </button>
            </form>
            <form asp-controller="Admin" asp-action="Edit_MovieAndSerie" method="get">
                <input type="hidden" name="id" value="@item.movie.id" />
                <button id="viewM" class="btn btn-info" align-items-xxl-center" type="submit">
                    Edit
                </button>
            </form>

        </div>


        <div class="windows">
            <ul class="tabs">
                <li data-tab-target="#actores" class="active tab">Actors</li>
                @if (@item.movie.num_episodes != null)
                {
                    <li data-tab-target="#episodes" class="active tab">Episodes</li>
                }
            </ul>
            <div class="tab-content">
                <div id="actores" class="active d-flex flex-column" data-tab-content>
                    <h1>Actors</h1>

                    <div class="slide">

                        @foreach (var a in item.actors)
                        {
                            <div class="d-flex flex-column justify-content-center align-items-center text-center m-2">
                                <img id="Image" class="actor d-block img-thumbnail align-content-center" src="@a.actor_url">
                                <p> @a.actor_first_name @a.actor_last_name</p>
                            </div>
                        }
                    </div>
                </div>
              
            </div>

            <ul class="tabs">
                <div class="contenedor">

                    <form asp-controller="Admin" asp-action="AsignedActors" method="get">
                        <input type="hidden" name="id_pelicula" value="@item.movie.id" />
                        <button id="viewM" class="btn btn-info align-items-xxl-center" type="submit">
                            Asigned Actor
                        </button>
                    </form>

                    <form asp-controller="Admin" asp-action="AsignedGenres" method="get">
                        <input type="hidden" name="id_pelicula" value="@item.movie.id" />
                        <button id="viewM" class="btn btn-info align-items-xxl-center" type="submit">
                            Asigned Genre
                        </button>
                    </form>


                    @if (@item.movie.num_episodes != null)
                    {
                   
                        <form asp-controller="Admin" asp-action="InsertEpisodes" method="get">
                            <input type="hidden" name="id_pelicula" value="@item.movie.id" />
                            <button id="viewM" class="btn btn-info align-items-xxl-center" type="submit">
                                Insert Episode
                            </button>
                        </form>

                    }


                </div>
            </ul>

        </div>
        <footer>
            <p>Added: @item.movie.date_added</p>


            

        </footer>

        

    }

    <!--Librerias para slick, boostrap, jquery-->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/lib/slick-1.8.1/slick/slick.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
