@model Videoteca.Models.MoviesAndSeries

@{
    ViewData["Title"] = "Edit";
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/stylos.css" />
    <link rel="stylesheet" href="~/css/responsive.css" />
    <meta name="viewport" content="width=device-width" />
    <title>Edit_MovieAndSerie</title>
</head>
<body>

    @if (ViewBag.Message != null)
    {
        <div class="alert alert-@(ViewBag.Message.Tipo)">
            @ViewBag.Message.Text
        </div>
    }

    @if (ViewBag.Message != null)
    {
        <div class="alert alert-@(ViewBag.Message.Tipo)">
            @ViewBag.Message.Text
        </div>
    }

    <div class="contenedor">
        <div>
            <h2>Edit @Model.title</h2>
            <br>
            <img class="movie2" src="@Model.movie_url">
            <br>
            <br>
            <br>
            <form asp-action="Details_MoviesAndSeries" asp-controller="Admin" method="get">
                <input type="hidden" name="id" value="@Model.id" />
                <button id="viewM" class="btn btn-info align-items-xxl-center" type="submit">Go Back</button>
            </form>
        </div>
        <div class="col-md-4">
            <form asp-action="Edit_MovieAndSerie" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="id" />
                <div class="form-group">
                    <h3>Title</h3>
                    <input asp-for="title" class="form-control" />
                    <span asp-validation-for="title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <h3>Synopsis</h3>
                    <input asp-for="synopsis" class="form-control" />
                    <span asp-validation-for="synopsis" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <h3>Release Year</h3>
                    <input asp-for="release_year" class="form-control" />
                    <span asp-validation-for="release_year" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <h3>Duration</h3>
                    <input asp-for="duration" class="form-control" />
                    <span asp-validation-for="duration" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <h3>Classification</h3>
                    <input asp-for="classification" class="form-control" />
                    <span asp-validation-for="classification" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <h3>Director</h3>
                    <input asp-for="director" class="form-control" />
                    <span asp-validation-for="director" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <h3>Portate</h3>
                    <input asp-for="movie_url" class="form-control" />
                    <span asp-validation-for="movie_url" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <button id="viewM" class="btn btn-info align-items-xxl-center" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>

</body>
</html>
