@model Videoteca.Models.EpisodeSeries

@{
    ViewData["Title"] = "InsertEpisodes";
}

<head>
    <link rel="stylesheet" href="~/lib/slick-1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="~/lib/slick-1.8.1/slick/slick-theme.css" />
    <link rel="stylesheet" href="~/css/stylos.css" />
    <link rel="stylesheet" href="~/css/responsive.css" />
    <meta name="viewport" content="width=device-width" />
</head>
<body>

    @if (ViewBag.Message != null)
    {
        <div class="alert alert-@(ViewBag.Message.Tipo)">
            @ViewBag.Message.Text
        </div>
    }



    <div class="contenedor4">
        <div class="viewM">
            <br>
            <br>
            <br>
            <img src="@Model.url" height="250" width="250"></img>
            <h1>@Model.title</h1>
            <br>
            <div>
                <form asp-action="GetEpisodes" asp-controller="Admin" method="get">
                    <input type="hidden" name="id" value="@Model.id_serie" />
                    <button id="viewM" class="btn btn-info align-items-xxl-center" type="submit">Go Back</button>
                </form>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="viewM">
            <form asp-controller="Admin" asp-action="InsertEpisodes" method="post">
                <h1>Register Episodes</h1>
                <hr />

                <div class="form-group">
                    <h3 asp-for="title" class="control-label">Title</h3>
                    <input name="title" class="form-control" />
                </div>
                <div class="form-group">
                    <h3 asp-for="duration" class="control-label">Duration</h3>
                    <input name="duration" class="form-control" />
                </div>
                <div class="form-group">
                    <h3 asp-for="episode_number" class="control-label">Episode Number</h3>
                    <input name="episode_number" class="form-control" />
                </div>
                <div class="form-group">
                    <h3 asp-for="url" class="control-label">Episode Portate</h3>
                    <input name="url" class="form-control" />
                </div>
                <div class="form-group">
                    <h3 asp-for="description" class="control-label">Description For Episode</h3>
                    <input name="descripction" class="form-control" />

                </div>

                <input type="hidden" name="movies_series_id" value="@Model.id_serie" />

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Registrar</button>
                </div>

            </form>
        </div>
        

    </div>



    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }

</body>
